<div class="about-page">
	<center><h1 class="page-heading">About</h1></center>

	<div id="about-page">

		<img id="portrait-image" src="./img/me.jpg">

		<div id="about-text">
			<p>Programmer, Javascript pioneer and Network Securety menace. I have been fascinated in all things software and hardware related since the age of 11 when I built my first computer, and all things network security and encription since I got suspended for hacking the school computer network and confusing the IT staff aged 14.</p><br>

			<p>I currently reside in Gothenburg, Sweden and have a rich portfolio of interactive websites and API's. I have many years of experience in Servers, SEO, Data Visualization, JQuery, Databases, Encryption, Networks, Cookies and Sessions, Website Optimization and many many more.</p><br>

			<p>For me no task is too complex or too ambitious, and teamed up with the best in Design and Marketing (Alex Richardson), we can make the creation of any website look like childs play.</p><br>
		</div>

	<div>
</div>