<div id="skills" class="skills-page">

	<center><h1 class="page-heading">Skills</h1></center>

	<div class="skill">

		<div class="skill-left"><p>Javascript</p></div>
		<div class="skill-right">
			<p>Angular JS</p>
			<p>D3.JS - Data Driven Documents</p>
			<p>JQuery</p>
			<p>All things HTTP</p>
		</div>

	</div>


	<div class="skill">

		<div class="skill-left"><p>Web</p></div>
		<div class="skill-right">
			<p>HTML5</p>
			<p>CSS</p>
			<p>SEO</p>
			<p>Javascript</p>
			<p>Responsive web design</p>
		</div>

	</div>



</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>