<div id="skills" class="work-page">

	<center><h1 class="page-heading">Work Experience</h1></center>

	<div class="skill">

		<div class="skill-left">
			<p>HTML</p>
		</div>

		<div class="skill-right">
			<p>Design</p>
			<p>Something else</p>
			<p>Another thing</p>
			<p>Some more stuff</p>
		</div>

	</div>

	<div class="skill">

		<div class="skill-left">
			<p>Javascript</p>
		</div>

		<div class="skill-right">
			<p>Angular JS</p>
			<p>D3.JS - Data Driven Documents</p>
			<p>JQuery</p>
			<p>All things HTTP</p>
		</div>

	</div>


	<div class="skill">

		<div class="skill-left">
			<p>CSS</p>
		</div>

		<div class="skill-right">
			<p>Responsive web design</p>
			<p>Cool Effects</p>
			<p>Other cool things</p>
		</div>

	</div>
</div>
